<%- include ("./partials/header"); %>

  <div class="row mt-5 pt-5" >
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center" style="background-color: rgba(6, 12, 34, 0.8);">
        <h1><img src="./assets/img/essslogo.png" alt="ESSS logo" style="width: 150px;height: 150px;"></h1>
        <p class="text-white">Create an account or login to attend ESSS General Assembly online</p>
        <a href="/users/register" style="background-color:#d45500 ;" class="btn btn-info btn-block mb-2"
          >Register</a
        >
        <a href="/users/login" class="btn btn-secondary btn-block" style="background-color: rgba(6, 12, 34, 0.8);">Login</a>
      </div>
    </div>
  </div>
  
  
</body>